.redesFooter {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.datosUbicacion h2 {
  color: red;
  font-size: 26px; }

.message {
  height: 110px; }

.mapaUbi {
  position: relative;
  left: 0px;
  width: 400px; }

.section {
  padding-bottom: 80px; }

.rojo {
  background-color: red; }

@media only screen and (max-width: 990px) {
  .formulario {
    padding-bottom: 130px; } }

footer {
  background-color: red; }

.logoFooter {
  border-radius: 80px;
  height: 80px; }

.redesFooter a {
  color: black; }

.textoFooter {
  color: black; }

.tituloInstalaciones {
  text-align: center;
  color: red;
  font-size: 26px;
  margin-right: 0px; }

.carouselInstala img {
  width: 500px;
  height: 500px;
  border: solid;
  color: black; }

.carouselDos {
  padding-bottom: 35px; }

@media only screen and (max-width: 900px) {
  .datosCom p {
    margin-bottom: 180px; }
  .carouselInstala img {
    width: 350px;
    height: 350px;
    border: solid;
    color: black; }
  .mainInstalaciones {
    margin-left: 3px;
    margin-right: 3px; } }

.mainInstalaciones p {
  font-size: 14px; }

.barraNav {
  height: 120px;
  top: 0px; }

.logoP {
  height: 90px;
  width: 140px; }

@media only screen and (max-width: 991px) {
  .menuHambur {
    background-color: white; } }

.navbar .nav-link:hover {
  color: #fc0000; }

.titulo {
  color: red; }

.boton {
  background-color: red; }

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.portadaIndex {
  padding-bottom: 50px; }

@media only screen and (max-width: 900px) {
  .mainIndex {
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 4px;
    margin-left: 4px; } }

.redesFooter {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.tituloHistoria {
  color: red;
  font-size: 26px; }

.pieTexto {
  color: black;
  font-size: 16px;
  text-align: left; }

.subTitulos {
  color: red; }

.titulosAside {
  color: red; }

.row {
  max-width: 99vw; }

.mainHIstoria p {
  font-size: 14px; }

.datosCom {
  color: grey;
  font-size: 14px; }

@media only screen and (max-width: 768px) {
  .datosCom {
    position: relative;
    margin-bottom: 50px; }
  .mainHIstoria {
    margin-left: 3px;
    margin-right: 3px; }
  .mainDisciplinas {
    margin-left: 3px;
    margin-right: 3px; } }

@media only screen and (min-width: 900px) {
  .mainDisciplinas {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 35px; } }

.tituloDis {
  font-size: 26px;
  color: red; }

.deportes h5 {
  color: red;
  font-size: 26px; }

.deportes p {
  font-size: 14px; }

.card-img-top {
  border: solid 1px;
  color: black;
  width: 100%; }

.imgCarru {
  border: solid 1px;
  color: black; }

.imgCarruFUT {
  border: solid 1px;
  color: black; }

.card-text {
  text-align: center; }

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }

@media only screen and (max-width: 900px) {
  .paraPadding {
    padding-bottom: 145px; } }

html {
  min-height: 100%;
  position: relative;
  font-family: Arial, Helvetica, sans-serif; }
