.redesFooter {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.centrado, .contactonat {
  display: flex;
  justify-content: center;
  align-items: center; }

.datosUbicacion h2 {
  color: red;
  font-size: 26px; }

.message {
  height: 110px; }

.mapaUbi {
  position: relative;
  left: 0px;
  width: 400px; }

footer {
  background-color: red; }

.logoFooter {
  border-radius: 80px;
  height: 80px; }

.redesFooter a {
  color: black; }

.tituloInstalaciones {
  text-align: center;
  color: red;
  font-size: 26px;
  margin-right: 0px; }

.carouselInstala img {
  width: 500px;
  height: 500px;
  border: solid;
  color: black; }

.carouselDos {
  padding-bottom: 35px; }

@media only screen and (max-width: 768px) {
  .datosCom p {
    margin-bottom: 180px; }
  .carouselInstala img {
    width: 350px;
    height: 350px;
    border: solid;
    color: black; }
  .mainInstalaciones {
    margin-left: 3px;
    margin-right: 3px; } }

.mainInstalaciones p {
  font-size: 14px; }

.barraNav {
  height: 120px;
  top: 0px; }

.logoP {
  height: 90px;
  width: 90px; }

@media only screen and (max-width: 991px) {
  .menuHambur {
    background-color: white; } }

.tituloIndex {
  color: red;
  font-size: 26px; }

.redesFooter {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.centrado, .contactonat {
  display: flex;
  justify-content: center;
  align-items: center; }

.tituloHistoria {
  color: red;
  font-size: 26px; }

.pieTexto {
  color: black;
  font-size: 16px;
  text-align: left; }

.subTitulos {
  color: red; }

.titulosAside {
  color: red; }

.row {
  max-width: 99vw; }

.mainHIstoria p {
  font-size: 14px; }

.datosCom {
  color: grey;
  font-size: 14px; }

@media only screen and (max-width: 768px) {
  .datosCom {
    position: relative;
    margin-bottom: 50px; }
  .mainHIstoria {
    margin-left: 3px;
    margin-right: 3px; } }

@media screen and (min-width: 950px) {
  .infoDepo {
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px; } }

.futbol {
  padding-bottom: 115px; }

.tituloDis {
  font-size: 26px;
  color: red; }

.carouselDis {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  padding-bottom: 30px; }

.visually-hidden {
  color: black; }

.carousel-innerDis img {
  justify-content: center;
  align-items: center;
  height: 350px;
  border: solid;
  color: black; }

.deportes h5 {
  color: red;
  font-size: 20px; }

.deportes p {
  font-size: 14px; }

.botonsito {
  color: red; }

.horariosFut {
  width: 350px;
  height: 350px;
  border: solid;
  color: black; }

.contactonat {
  width: 350px;
  height: 350px; }

html {
  min-height: 100%;
  position: relative; }
