body{
  min-height: 100vh;
  position: relative;
}
.redesFooter {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.datosUbicacion h2 {
  color: red;
  font-size: 26px; }

.message {
  height: 110px; }

.mapaUbi {
  position: relative;
  left: 0px;
  width: 400px; }

footer {
  background-color: red; }

.logoFooter {
  border-radius: 80px;
  height: 80px; }

.redesFooter a {
  color: black; }

.tituloInstalaciones {
  text-align: center;
  color: red;
  font-size: 26px;
  margin-right: 0px; }

.portadaInstalaciones {
  height: 250px;
  background-image: url(../imagenes/30demayo.jpg);
  background-position: center; }

@media only screen and (max-width: 768px) {
  .datosCom {
    position: relative;
    margin-bottom: 450px; }
  .mainInstalaciones {
    margin-left: 3px;
    margin-right: 3px; } }

.barraNav {
  height: 120px;
  top: 0px; }

.logoP {
  height: 90px; }

@media only screen and (max-width: 991px) {
  .menuHambur {
    background-color: red; } }

.tituloIndex {
  color: red;
  font-size: 26px; }

.redesFooter {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.tituloHistoria {
  color: red;
  font-size: 26px; }

.pieTexto {
  color: black;
  font-size: 16px;
  text-align: left; }

.subTitulos {
  color: red; }

.titulosAside {
  color: red; }

.row {
  max-width: 99vw; }

.mainHIstoria p {
  font-size: 14px; }

.datosCom {
  color: grey;
  font-size: 14px; }

@media only screen and (max-width: 768px) {
  .datosCom {
    position: relative;
    margin-bottom: 150px; }
  .mainHIstoria {
    margin-left: 3px;
    margin-right: 3px; } }

.tituloDis {
  font-size: 26px;
  color: red; }

.carousel-inner img {
  width: 500px;
  height: 400px;
  border: solid;
  color: black;
  margin-bottom: 10px; }
