.redesFooter {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.datosUbicacion h2 {
  color: red;
  font-size: 26px; }

.message {
  height: 110px; }

.mapaUbi {
  position: relative;
  left: 0px;
  width: 400px; }

footer {
  background-color: red; }

.logoFooter {
  border-radius: 80px;
  height: 80px; }

.redesFooter a {
  color: black; }

.tituloInstalaciones {
  text-align: center;
  color: red;
  font-size: 26px; }

.portadaInstalaciones {
  height: 250px;
  background-image: url(../imagenes/30demayo.jpg);
  background-position: center; }

.barraNav {
  height: 120px;
  top: 0px; }

.logoP {
  height: 70px; }

.tituloIndex {
  color: red;
  font-size: 26px; }

.redesFooter {
  list-style: none;
  display: flex;
  justify-content: space-around; }

.tituloHistoria {
  color: red;
  font-size: 26px; }

.pieTexto {
  color: black;
  font-size: 16px;
  text-align: left;
  left: 4px; }

.subTitulos {
  color: red; }

.titulosAside {
  color: red; }

.mainHIstoria p {
  font-size: 14px; }

.datosCom {
  color: grey;
  font-size: 14px; }

@media only screen and (max-width: 768px) {
  .datosCom {
    position: relative;
    margin-bottom: 150px; }
  .mainHIstoria {
    margin-left: 3px;
    margin-right: 3px; } }
