@import "./components/contacto";
@import "./components/footer";
@import "./components/instalaciones";
@import "./components/header";
@import"./components/index";
@import"./components/historia";
@import"./components/disciplinas";
html {
      min-height: 100%;
      position: relative;
}
