body{
    height: 1300px;
    position: relative;
}
.cabecera{
    background-color: red;
    position: relative;
}
h1{
    color: red;
}
.logoP{
height: 50px;
border-radius: 20px;
}
.bar-top-social{
    padding: 20px 15px 20px 25px;
    float: right;
    position: relative;
    top: auto;
    left: auto;
}
.redes{
    display: flex;
    justify-content: space-evenly;
}
section{
    height: 500px;
    background-color: white;
    padding-top: 30px;
}
section img{
    height: 400px;
} 
/* footer */
footer{
    position: absolute;
    bottom: 0px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
    "logoFooter datosUbi redes";
    padding: 0px 0px 0px 0px;
    background-color: red;
}
.logoFooter{
    border-radius: 80px;
    height: 80px;
    grid-area: logoFooter;
}
.redesFooter{
    list-style: none;
    grid-area: redes;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    ". whatsapp instagram facebook ubicacion ."; 
    justify-items: end;
}
.fa-brands fa-whatsapp{
    grid-area: whatsapp;
}
.fa-brands fa-instagram{
    grid-area: instagram;
}
.fa-solid fa-location-pin{
    grid-area: ubicacion;
}
.datosUbi{
    grid-area: datosUbi;
    color: white;
}
a{
    color: black;
}
/* contacto */
main{
    position: relative;
}
.formulario{
    position: absolute;
    height: 150px;
    width: 800px;
    right: 50px;
}
.datosUbicacion{
position: absolute;
left: 20px;
}
.datosUbicacion h2{
    color: red;
}
.message{
    height: 110px;
}