@import "../base/variables";
.datosUbicacion h2{
    color: $color-principal;
    font-size: map-get($tamanio-tipografia,titulos );
}
.message{
    height: 110px;
}
.mapaUbi{
    position: relative;
    left: 0px;
    width: 400px;
}