@media only screen and(min-width:900px){
.mainDisciplinas{
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 35px;
}
}
.tituloDis{
    font-size: map-get($tamanio-tipografia,titulos );
    color: $color-principal;
}

.deportes h5{
    color: $color-principal;
    font-size: map-get($tamanio-tipografia, titulos );
}
.deportes p{
    font-size: map-get($tamanio-tipografia, parrafo );
}
.card-img-top{
    border: solid 1px; color: black;
    width: 100%;

}
.imgCarru{
    border: solid 1px; color: black;
}
.imgCarruFUT{
    border: solid 1px; color: black;
}
.card-text{
    text-align: center;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}
@media only screen and(max-width:900px){
    .paraPadding{
        padding-bottom: 145px;
    }
}