.tituloDis{
    font-size: map-get($tamanio-tipografia,titulos );
    color: $color-principal;
}
.carousel-inner img{
 width: 500px;
 height: 400px;
border: solid; color: black;
margin-bottom: 10px;
}   