@media screen and (min-width:950px){
.infoDepo{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 40px;
}
}
.futbol{
    padding-bottom: 115px;
}
.tituloDis{
    font-size: map-get($tamanio-tipografia,titulos );
    color: $color-principal;
}
.carouselDis{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    padding-bottom: 30px;
}
.visually-hidden{
    color:black;
}
.carousel-innerDis img{
    justify-content: center;
    align-items: center;
    height: 350px;
    border: solid; color: black;
}
.centrado{
 @extend %centrado;
}
.deportes h5{
    color: $color-principal;
    font-size: map-get($tamanio-tipografia, subtitulos );
}
.deportes p{
    font-size: map-get($tamanio-tipografia, parrafo );
}
.botonsito{
    color: $color-principal;
}
.horariosFut{
    width: 350px;
    height: 350px;
    border: solid;color: black;
}
.contactonat{
    @extend %centrado;
    width: 350px;
    height: 350px;
}