footer{
    background-color: $color-principal;
}
.logoFooter{
    border-radius: 80px;
    height: 80px;
//     grid-area: logoFooter;
}
.redesFooter{
    @extend %listas-none;
}
.redesFooter a{
    color: black;
}

