.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 0px;
    background-color: white;
}
.barraNav{
    height: 120px;
    width: 100%;
    top: 0px;
}
.logoP{
    height: 70px;
    position: relative;
    left: 650px;
    bottom: 15px;
}
.logoGmail{
    height: 20px;
    width: 20px;
    position: absolute;
    right: 10px;
    bottom: 15px;
}