
.barraNav{
    height: 120px;
    top: 0px;
}
.logoP{
    height: 90px;
    width: 140px;
}
@media only screen and(max-width:991px){
    .menuHambur{
        background-color:white;
    }
}
.navbar .nav-link:hover{
     color: rgb(252, 0, 0);
}