.portadaHistoria{
    height: 400px ;
}
.tituloHistoria{
    color: red;
}
.pieTexto{
    color: black;
    font-size: 16px;
    text-align: left;
    left: 4px;
}
.contenedor{
    position: relative;
    width: 70%;
    
}
.subTitulos{
    color: red;
}
