@import "../base/variables";
.tituloHistoria{
    color: $color-principal;
    font-size: map-get($tamanio-tipografia,titulos);
}
.pieTexto{
    color: black;
    font-size: 16px;
    text-align: left;
}
.subTitulos{
    color: $color-principal;
}
.titulosAside{
    color: $color-principal;
}
.row{
    max-width: 99vw;
}
.mainHIstoria p{
    font-size: map-get($tamanio-tipografia, parrafo );
}
.datosCom  {
    color: grey;
    font-size: map-get($tamanio-tipografia, parrafo );
}
@media only screen and (max-width:768px){
    .datosCom{
    position: relative;
    margin-bottom: 50px;
    }
    .mainHIstoria{
        margin-left: 3px;
        margin-right: 3px;
    }
}