.tituloInstalaciones{
    text-align: center;
    color: $color-principal;
    font-size: map-get($tamanio-tipografia,titulos );
}
.portadaInstalaciones{
    height: 250px;
    background-image: url(../imagenes/30demayo.jpg);
    background-position: center;
}
