.tituloInstalaciones{
    text-align: center;
    color: $color-principal;
    font-size: map-get($tamanio-tipografia,titulos );
    margin-right: 0px;
}
.carouselInstala img{
    width: 500px;
    height: 500px;
    border: solid; color: black;
}
.carouselDos{
    padding-bottom: 35px;
}
@media only screen and (max-width:768px){
    .datosCom p{
    margin-bottom: 180px;
    }
    .carouselInstala img{
        width: 350px;
        height: 350px;
        border: solid; color: black;
    }
    .mainInstalaciones{
        margin-left: 3px;
        margin-right: 3px;
    }
}
.mainInstalaciones p{    font-size: map-get($tamanio-tipografia,parrafo );
}